@page { margin: 40pt 30pt 40pt 30pt }

h2 { padding-left:5% }

.MontageMade {
	position: absolute;
	top: 0;
	left: 25px;
	width: 50px;
	height: 100px;
	overflow: hidden;
	font-size: 0;
	color: transparent;
	background: url(http://montagestudio.com/demos/popcorn/assets/image/montage-made.svg) no-repeat center;
	background-size: 100% auto;
}

.View-canvas {
    width:92vw;
    height:33vw; /* Fix for Safari */
    
}


.scene {
		width: 92%;
		height:33vw;
		background: hsl(0, 0%, 0%);
		-webkit-backface-visibility: hidden;
    	margin-left: auto;
    	margin-right: auto;
    	display: inline-block;
}

.all_moving_parts {
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.blade {
  transform-origin: 90% 0%;
}

.can_opener {
  transform-origin: 62% 0%;
}

.blade-openL {
  transform: rotateY(160deg);
}

.awl {
  transform-origin: 70% 0%;
}

.awl-open {
  transform: rotateY(-80deg);
}

.bottle {
  transform-origin: 10% 0%;
}

.bottle-openR {
  transform: rotateY(-160deg);
}

.blade-openR {
  transform: rotateY(-160deg);
}

.blade-close {
  transform-origin: 90% 0%;
}

.tweezer-slide {
  transform: translate3d(-600, 0, -50);
}




